html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

/* grid */
#wrap {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 100px;

}

#content {
height: 100px;
}

/*header영역*/
.header {
  font-weight: bold;
  padding: 30px;
  margin-bottom: 0px;
}

.header .header_container{
}

.header .header .header_container h1 {
  display: inline-block;
  font-size: 35px;
  text-align: left;
}

.header .header_container .header_nav .header_menu{
float:right;
}

.header .header_container .header_nav .header_menu ul li{
  display:inline-block;
  margin-left: 15px;
}

/* 컨텐츠영역 */
.content {
}

.content .content_wrap{}

.content .content_wrap .content_overlay{
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  opacity:0.75;
  background-color: #000;
  height: 280px;
}

.content .content_wrap .content_overlay h1{
  padding-top: 100px;
  color: #fff;
  font-size: 28pt;
  font-weight: 750;
}

.content .content_wrap .content_overlay h2{
  font-size: 14pt;
  color: #fff;
  font-weight: 400;
  padding-top: 35px;
}


/* 미디어 쿼리 */
/* Desktop First */
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:321px) and (max-width:767px) {

  /*header영역*/
}

/* 스마트폰 세로 */
@media only screen and (max-width : 320px) {

  /*header영역*/
}
