html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

/* grid */
#wrap {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 100px;
}

#content {
  height: 100px;
}

/*header영역*/
.header {
  padding: 30px;
  margin-bottom: 0px;
}

.header .header_container {
  overflow: hidden;
}

.header .header_container h1 {
  display: inline-block;
  letter-spacing: 5PX;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}

.header .header_container .header_nav {
  display: inline-block;
  float: right;
  line-height: 40px;
}

.header .header_container .header_nav .header_menu {}

/* 컨텐츠영역 */
.content {}

.content .content_wrap {}

.content_nav input[type=radio] {
  display: none;
}

#tab-1:checked~.tab label:nth-child(1),
#tab-2:checked~.tab label:nth-child(2),
#tab-3:checked~.tab label:nth-child(3) {
  background-color: none;
  box-shadow: none;
  text-decoration: underline;
  text-underline-position: under;
  color: #50B748;
}

.content_main>div {
  display: none;
}

#tab-1:checked~.content_main div:nth-child(1),
#tab-2:checked~.content_main div:nth-child(2),
#tab-3:checked~.content_main div:nth-child(3) {
  display: block;
}

.content_nav {
  margin: 0 auto;
  max-width: 100%;
}

.tab {
  overflow: hidden;
  background-color: #000;
  height: 280px;
  line-height: 280px;
  opacity: 0.75;
}

.tab label {
  font-size: 18pt;
  cursor: pointer;
  float: left;
  width: 33%;
  text-align: center;
  padding: 0 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.content_main {
  min-height: 250px;
  width: 50%;
  margin: 0 auto;
}

.content_main>div {
  padding: 50px;
  line-height: 1.5;
  font-size: 15pt;
}

.content_main div p{
 margin: 20px 0px 20px 0px;

}

strong {
  font-weight: bold;
}


/* 미디어 쿼리 */
/* Desktop First */
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {

}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:321px) and (max-width:767px) {
  /* grid */
  #wrap {
    width: 100%;
    height: 100%;
  }

  #header {
    width: 100%;
    height: 60px;
  }

  #content {
    height: 100px;
  }
/* header영역 */
  .header {
    padding: 15px;
    margin-bottom: 0px;
  }

  .header .header_container {
    overflow:hidden;
  }

  .header .header_container h1 {
    height: 30px;
    display: inline-block;
    letter-spacing: 3PX;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;

  }

  .header .header_container .header_nav {
    height: 30px;
    display: inline-block;
    float: right;
    line-height: 32px;
    font-size: 12px;
  }

  .header .header_container .header_nav .header_menu {}

  /* 컨텐츠영역 */
  .content {}

  .content .content_wrap {}

  .content_nav input[type=radio] {
    display: none;
  }

  #tab-1:checked~.tab label:nth-child(1),
  #tab-2:checked~.tab label:nth-child(2),
  #tab-3:checked~.tab label:nth-child(3) {
    background-color: none;
    box-shadow: none;
    text-decoration: underline;
    text-underline-position: under;
    color: #50B748;
  }

  .content_main>div {
    display: none;
  }

  #tab-1:checked~.content_main div:nth-child(1),
  #tab-2:checked~.content_main div:nth-child(2),
  #tab-3:checked~.content_main div:nth-child(3) {
    display: block;
  }

  .content_nav {
    margin: 0 auto;
    max-width: 100%;
  }

  .tab {
    overflow: hidden;
    background-color: #000;
    height: 180px;
    line-height: 180px;
    opacity: 0.75;
  }

  .tab label {
    font-size: 10pt;
    cursor: pointer;
    float: left;
    width: 33%;
    text-align: center;
    padding: 0 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
  }

  .content_main {
    min-height: 250px;
    width: 70%;
    margin: 0 auto;
  }

  .content_main>div {
    padding: 20px;
    line-height: 1.5;
    font-size: 10pt;
  }

  .content_main div p{
   margin: 20px 0px 20px 0px;
  }
}

/* 스마트폰 세로 */
@media only screen and (max-width : 320px) {

  /* grid */
  #wrap {
    width: 100%;
    height: 100%;
  }

  #header {
    width: 100%;
    height: 60px;
  }

  #content {
    height: 100px;
  }
/* header영역 */
  .header {
    padding: 15px;
    margin-bottom: 0px;
  }

  .header .header_container {
    overflow:hidden;
  }

  .header .header_container h1 {
    height: 30px;
    display: inline-block;
    letter-spacing: 3PX;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;

  }

  .header .header_container .header_nav {
    height: 30px;
    display: inline-block;
    float: right;
    line-height: 32px;
    font-size: 12px;
  }

  .header .header_container .header_nav .header_menu {}

  /* 컨텐츠영역 */
  .content {}

  .content .content_wrap {}

  .content_nav input[type=radio] {
    display: none;
  }

  #tab-1:checked~.tab label:nth-child(1),
  #tab-2:checked~.tab label:nth-child(2),
  #tab-3:checked~.tab label:nth-child(3) {
    background-color: none;
    box-shadow: none;
    text-decoration: underline;
    text-underline-position: under;
    color: #50B748;
  }

  .content_main>div {
    display: none;
  }

  #tab-1:checked~.content_main div:nth-child(1),
  #tab-2:checked~.content_main div:nth-child(2),
  #tab-3:checked~.content_main div:nth-child(3) {
    display: block;
  }

  .content_nav {
    margin: 0 auto;
    max-width: 100%;
  }

  .tab {
    overflow: hidden;
    background-color: #000;
    height: 150px;
    line-height: 150px;
    opacity: 0.75;
  }

  .tab label {
    font-size: 8pt;
    cursor: pointer;
    float: left;
    width: 33%;
    text-align: center;
    padding: 0 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
  }

  .content_main {
    min-height: 250px;
    width: 80%;
    margin: 0 auto;
  }

  .content_main>div {
    padding: 20px;
    line-height: 1.5;
    font-size: 9pt;
  }

  .content_main div p{
   margin: 20px 0px 20px 0px;
  }
}
