@charset "UTF-8";

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

/* grid */
#wrap {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 250px;
  background-color: #5882FA;
}

#content {
  height: 100%;
}

.header {
  text-align: center;
  font-weight: bold;
  color: #FBFCFD;
  padding: 30px;
}

.header h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.header strong {
  line-height: 30px;
}

.header p {
  line-height: 30px;
}

.content {
  height: 100%;
}

.content_wrap {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  background-color: #819FF7;
}

.content_wrap a {
  color: #fff;
}

.content_wrap .content_left {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: #fff;
  border-right: 1px solid #fff;
  ;
}

.content_wrap .content_right {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: #fff;
  border-left: 1px solid #fff;
  ;
}
